@import url("https://fonts.googleapis.com/css2?family=Kenia&display=swap");
body{
  background-color: var(--dark-violete);
  font-family: "Kenia", cursive;
}

:root{
  --dark-violete: #2a2346;
  --off-orange: #f7765f;
  --off-white: #d6d2b3;
  --primary: var(--dark-violete)
}
.light{
  --primary: var(--dark-violete);
  --secondary: var(--off-orange);
  --third: (var(--off-white)
}

.dark{
  --primary: var(--dark-violete);
  --secondary: var(--off-white);
  --third: var(--off-orange);
}

.card {
  width:50%;
  background-color: var(--third);
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 22%;
  margin-bottom: 5px;
  justify-content: space-between;
  border-radius: 75px;
  overflow:hidden;
}
.flex-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin: 1rem, auto;
  background-color: var(--primary);
}
.card-img{
 width: auto;
 height: 10rem;
}
.card:hover {
  filter: drop-shadow(8px 8px 8px black);
}
.desc{
  width: 25%;
}
.flex_wrapper{
 background-color: var(--dark-violete);
 border-radius: 75px;
}
h1{
  text-align: center;
color: var(--secondary);
font-size: 7rem;
}
p{
  font-size: 1.5rem;
}